.card {
  font-family: "KoHo", sans-serif;
  max-width: 450px;
  margin-top: 50px;
  border: solid 1.4px #444444;
  padding: 15px 0 0 15px;
}
.submit-button {
  padding: 1px 10px;
  margin-left: 10px;
  background-color: #703937;
  border: 1.5px solid #212529;
  border-radius: 3px;
  color: white;
}
h1 {
  color: #aa4400;
  font-weight: bold;
}
.day-and-time {
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: 400;
  color: #561c17;
}
.icon canvas {
  width: 50px;
  position: relative;
  left: -5px;
  top: 5px;
}
.current-temperature {
  font-size: 45px;
  color: #703937;
  position: relative;
  bottom: 5px;
  left: 5px;
}
.units {
  font-size: 23px;
  text-decoration: none;
  vertical-align: top;
  position: relative;
  top: 5px;
  color: #ff9e5e;
}

li {
  text-transform: capitalize;
  list-style: none;
  position: relative;
  top: 20px;
  color: #703937;
  font-weight: bold;
  font-size: 15px;
}

.credit {
  margin: 3px 0 0 85px;
  font-size: 13px;
}

.credit a {
  color: #703937;
}
