.card-body {
  font-family: "KoHo", sans-serif;
  max-width: 450px;
  height: auto;
  margin-top: 50px;
  border: solid 1.4px black;
  border-radius: 4px;
}
.submit-button {
  padding: 1px 10px;
  margin-left: 10px;
  background-color: #703937;
  border: 1.5px solid #212529;
  border-radius: 3px;
  color: white;
}
h1 {
  color: #aa4400;
}
.day-and-time {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 400;
  color: #561c17;
}
.icon canvas {
  position: relative;
  top: 5px;
}
.current-temperature {
  font-size: 45px;
  color: #703937;
  position: relative;
  bottom: 5px;
  left: 5px;
}
.units {
  font-size: 23px;
  vertical-align: top;
  position: relative;
  top: 10px;
  color: #561c17;
}
.units a {
  text-decoration: none;
  color: #ff9e5e;
}
.units a:hover {
  color: #561c17;
}
.active {
  font-weight: bold;
}
li {
  text-transform: capitalize;
  list-style: none;
  position: relative;
  top: 20px;
  color: #703937;
  font-weight: bold;
  font-size: 15px;
}
.credit {
  margin: 3px 0 0 auto;
  font-size: 13px;
}

.credit a {
  color: #703937;
}

@media (max-width: 500px) {
  .card-body {
    margin: 30px auto;
    max-width: 300px;
  }
  .icon canvas {
    max-width: 45px;
  }
  .current-temperature {
    font-size: 40px;
  }
  .units {
    font-size: 18px;
  }
  li {
    top: 55px;
    left: -20px;
    font-size: 9px;
  }
  .credit {
    text-align: center;
  }
}
@media (max-width: 317px) {
  .input {
    max-width: 60% !important;
  }
  .submit-button {
    max-width: 30% !important;
    -webkit-appearance: none;
  }
  .icon canvas {
    max-width: 35px;
  }
  .current-temperature {
    font-size: 35px;
  }
  .units {
    font-size: 15px;
  }

  .day-and-time {
    font-size: 14px;
  }
}
