.Forecast {
  text-align: center;
}
.DailyForecast {
  padding-top: 10px;
}
.forecastDay {
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 18px;
}
.maxTemperature,
.minTemperature {
  color: #561c17;
  font-weight: bold;
}
.minTemperature {
  opacity: 0.8;
}

@media (max-width: 500px) {
  .Forecast {
    font-size: 13px;
  }
  .forecastDay {
    font-size: 14px;
  }
}
@media (max-width: 280px) {
  .Forecast {
    margin-top: 40px;
  }
}
